<div class="container">
  <div class="main">
    <div class="search">
      <input
        type="text"
        placeholder="Pesquisar libs"
        [formControl]="queryField"
      />
      <button (click)="onSearch()">Pesquisar</button>
    </div>
    <div class="found">
      <h2>{{ total }} Registros encontrados</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Versão</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results$ | async">
          <td>{{ result.name }}</td>
          <td>{{ result.version }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
